bertopic==0.16.2
ipython==8.12.3
keybert==0.8.4
langchain==0.1.20
langchain_community==0.0.38
langchain_openai==0.1.7
numpy==1.26.4
openai==1.30.1
pandas==2.2.2
python-dotenv==1.0.1
scikit_learn==1.4.2
tiktoken
spacy==3.7.4
# spaCy has two components, the library itself, and the trained language model. 
# The language model needs to be installed separately, and needs the download link to be specified. 
# This is because there are numerous language models which can be used, and the user needs to specify which one they want to use.
# Documentation: https://spacy.io/usage/models
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz